label {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content:space-between;
}

@media (max-width: 500px) {
    label {
        flex-direction: column;
    }   
}

input {
    padding: 12px 24px;
}