<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=500, initial-scale=1.0")
        title Anfrage eingegangen
        meta(name="description", content="Hier findest du deine Anfragen")
        style
            include styles/readonly.css
            include ../styles/main.css
            include ../styles/section.css
            include ../styles/background.css
            include ../styles/heading.css
    body
        main
            section
                h1 Deine Anfragen
                p Hier findest du deine Anfragen