style
    include styles/section.css

section
    h2 Für Bands
    p Jetzt einen kostenlosen Band-Account erstellen und direkt Anfragen bekommen.

    form(method="POST" action="/band/create")
        label
            | Eure E-Mail-Adresse
            input(type="email" name="email" placeholder="Meine.Band@example.com" required)
        input(type="submit" value="kostenlos registrieren")