<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=500, initial-scale=1.0")
        meta(name="description", content="Jetzt DIE Band für deine Veranstaltung finden")
        title Hire Us
        style
            include styles/main.css
            include styles/background.css
            include styles/submit.css
            include styles/heading.css
            include styles/section.css
    body
        include _header
        main
            h1 Hire Us

            include _request
            
            h2 Du bist eine Band?
            p Jetzt 
                a(href="/band") registrieren
                |  und direkt Anfragen erhalten.

            