<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=500, initial-scale=1.0")
        meta(name="description", content="Jetzt DIE Band für deine Veranstaltung finden")
        title Hire Us
        style
            include font.css
            include styles/main.css
            include styles/background.css
            include styles/submit.css
            include styles/heading.css
            include styles/heading.css
        include _links
    body
        main
            h1 Hire Us

            include _request
            include _band

            