<!DOCTYPE html>
html(lang="de")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=500, initial-scale=1.0")
        title Band registriert
        meta(name="description", content="Du hast deine Band bei uns registriert!")
        include ../_links
        style
            include ../styles/main.css
            include ../styles/section.css
            include ../styles/background.css
            include ../styles/heading.css
    body
        main
            section
                h1 Du hast deine Band bei uns registriert
                p Sobald wir relevante Anfragen für dich haben, wirst du hier informiert.